include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | Main page
    link(href="./styles/main.pcss", rel="stylesheet", )
  body
    .wrapper

      main.main-content

        section.intro.full-screen

          +image('train', 'intro__parallax-img', 'background')
          .container

            header.header
              .logo.title АГ

              nav.nav
                - var list = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                  ul.nav__list
                    each item in list
                      li.nav__item
                        a.nav__link(href="#") #{item} 

              - var socials = ['insta', 'vk', 'github'];
              ul.socials
                each item in socials
                  li.socials__item
                    a.socials__item-link(target="_blank")
                      +icon(item, 'socials__item-icon')

            .intro__content
              h2.intro__sub-title Личный сайт <br>веб разработчика</br>
              h1.intro__title.title Артур Губарь

            a.scroll(href='#about')
              span.scroll__name Скролл
              +icon('scroll', 'scroll__icon')

        section.about(id='about')

          +image('grass', 'about__parallax-grass')
          +image('code', 'about__parallax-code')
          .container

            .about__brief
              +image('me', 'profile__img')

              ul.profile__info
                - 
                  var items = [
                    ['Проживаю', 'Бангкок'],
                    ['Возраст', '24 года'],
                    ['Родился', '19 мая 1995'],
                  ]
                each item in items
                  li.profile__info-item
                    .profile__info-item-name #{item[0]}
                    .profile__info-item-content #{item[1]}

            .about__descr
              p.about__descr-text Привет, меня зовут
              h2.about__descr-text.title Артур Губарь
              p.about__descr-text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              p.about__descr-text-comment Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

      section.skills
        .container

          h3.skills__title.sub-title Чем я могу быть полезен вам
          .skills__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          
          .skills__block

            //- Row with Front-end skills
            .skills__line Front-end
            - var skills = ['HTML', 'CSS3', 'JavaScript', 'Jquery и Vue.js'];
              ul.skills__list
                each skill in skills
                  li.skills__item
                    svg(viewBox="0 0 200 200").skills__progress 
                      circle(cx="100" cy="100" r="80").skills__progress-circle
                      circle(cx="100" cy="100" r="80").skills__progress-circle-id
                    .skills__name #{skill}

            //- Row with Workflow skills
            .skills__line Workflow
            - var skills = ['GIT', 'Terminal', 'Gulp', 'Webpack'];
              ul.skills__list
                each skill in skills
                  li.skills__item
                    svg(viewBox="0 0 200 200").skills__progress 
                      circle(cx="100" cy="100" r="80").skills__progress-circle
                      circle(cx="100" cy="100" r="80").skills__progress-circle-id
                    .skills__name #{skill}

                    //- Gradient
                    svg(style="width:0; height:0; position: absolute;" aria-hidden="true")
                      linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
                        stop(offset="0%" stop-color='#d0731b')
                        stop(offset="100%" stop-color='#dc9322') 

      section.portfolio
        .container 

          .portfolio__title.sub-title Мои работы

          .portfolio__preview-container

            .portfolio__previewed
              +image('preview-main', 'portfolio__previewed-image')

              //- Create wrapper for further reuse as component
              .portfolio__slider-wrapper  
                ul.portfolio__slider-list
                  li.portfolio__slider-item
                    +image('preview-1', 'portfolio__slider-item-preview')
                  li.portfolio__slider-item
                    +image('preview-2', 'portfolio__slider-item-preview')
                  li.portfolio__slider-item
                    +image('preview-3', 'portfolio__slider-item-preview')
                  li.portfolio__slider-item
                    +image('preview-4', 'portfolio__slider-item-preview')

                //- Slider controls buttons
                .portfolio__slider-control
                  .portfolio__slider-control-wrapper
                    button(type="button").portfolio__slider-control-next
                      +icon('arrow-next', 'portfolio__slider-control-next-icon')
                    button(type="button").portfolio__slider-control-prev
                      +icon('arrow-prev', 'portfolio__slider-control-prev-icon')

                //- Number indicator
                .portfolio__slider-control-id 3

                    
            .portfolio__descr              
              -var tags = ['HTML', 'CSS', 'JavaScript'];
                ul.portfolio__tags-list
                  each tag in tags
                    li.portfolio__tags-item
                      .portfolio__tags-item-name #{tag}
                

              h3.portfolio__descr-title.sub-title Сайт школы образования                 
              .portfolio__descr-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
              .portfolio__descr-link
                +icon('link', 'portfolio__descr-link-icon')
                .portfolio__descr-link-name Посмотреть сайт

      section.overview

        .container

          .overview__comments

            .overview__comments-blockline
              .overview__comments-title.sub-title Что обо мне говорят
              .overview__comments-control
                button.overview__comments-control-prev
                  +icon('arrow-prev', 'overview__comments-control-prev-icon')
                button.overview__comments-control-next
                  +icon('arrow-next', 'overview__comments-control-next-icon')

            .overview__comments-blockline
              .overview__comments-container
                .overview__comments-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                .overview__comments-person 
                  .overview__comments-person-img-wrapper
                    +image('dmitry', 'overview__comments-person-img')
                  .overview__comments-person-info                    
                    .overview__comments-person-name Ковальчук Дмитрий
                    .overview__comments-person-occup Основатель Loftschool
              .overview__comments-container
                .overview__comments-text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                .overview__comments-person
                  .overview__comments-person-img-wrapper
                    +image('vladimir', 'overview__comments-person-img')
                  .overview__comments-person-info                    
                    .overview__comments-person-name Владимир Сабанцев
                    .overview__comments-person-occup Преподаватель

          .overview__contact
            h2.overview__contact-title.sub-title Связаться со мной
            form.overview__contact-form
              .form__row
                label.form__item
                  .form__hint.form__user-icon Введите ваше имя
                  input.form__input(value="Jonatan Soderstrom") 
                label.form__item
                  .form__hint.form__mail-icon Введите вашу почту
                  input.form__input(value="hotline@miami.com") 
              .form__row
                label.form__item
                  .form__hint.form__msg-icon Сообщение к письму
                  textarea.form__input(value="Привет Артур")
              button.form__send-button
                .form__send-button-text Отправить

      section.end
          footer.footer
            .container

              .footer__column
                .footer__title.sub-title Артур Губарь
                .footer__sub-title Личный сайт <br>веб-разработчика</br>

              .footer__column

                .footer__row

                  - var list = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                    ul.footer__nav
                      each item in list
                        li.footer__nav-item
                          a.footer__nav-link(href="#") #{item} 

                .footer__row
                  .footer__row-container
                    .footer__descr Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool

                    - var socials = ['insta', 'vk', 'github'];
                    ul.footer__socials
                      each item in socials
                        li.footer__socials__item
                          +icon(item, 'footer__socials__item-icon')

                  .footer__row-container
                    .footer__quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    .footer__quote-author Martin Golding